.date-field-viewing {
  display: grid;
  grid-gap: 10px;
}
.perdsonal-info-field-viewing {
  display: grid;
  grid-gap: 10px;
}

.perdsonal-info-field-viewing > label {
  font-size: 13px;
  font-weight: bold;
}
.date-field-viewing-field {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.date-field-viewing > label {
  font-size: 13px;
  font-weight: bold;
}

.date-field-viewing-field:hover {
  border: 1px solid green;
}

.all-button-viewing-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  grid-gap: 20px;
}

.all-button-viewing-form-container-next {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
}

.all-button-viewing-form {
  padding: 7px;
  border-radius: 5px;
  border: none;
  background: yellow;
  box-shadow: 0px 0px 5px #ccc;
  margin-top: 10px;
}
