.login-page-main {
  font-family: "Open Sans", sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 50px 0px;
}

.login-page-main h1 {
  /* margin-top: 48px; */
}
.login-page-main .login-form {
  background: #fff;
  max-width: 360px;
  width: 100%;
  padding: 58px 44px;
  border: 1px solid #e1e2f0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
}

.login-form-wraper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* .login-form-wraper label {
  font-size: 13px;
  color: #8086a9;
}

.login-form-wraper input {
  flex: 1;
  padding: 13px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.login-form-wraper input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.login-form-wraper input::placeholder {
  color: #c8cddf;
} */

.login-submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #04b104;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #04b104 !important;
}

.login-submit-btn:hover {
  background: #1e5e00;
}

@media (max-width: 458px) {
  /* body {
    margin: 0 18px;
  } */

  .login-form {
    background: #f9faff;
    border: none;
    box-shadow: none;
    padding: 20px 0;
  }
}
