.contact-banner {
  display: flex;
  position: relative;
}
.contact-banner > img {
  width: 100%;
  height: 400px;
  background-size: cover;
}

.contact-banner-button-div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.contact-banner-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .contact-banner > img {
    height: 200px;
  }
}
