.single-room-main {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

/* MEDIA QUERIES  */
/* for mobile */
@media screen and (max-width: 850px) {
  .carosel-menutab-description-container {
    flex-direction: column;
  }
  .carosel-menutab-container {
    width: 100%;
  }
}
