.single-property-main {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

.carosel-menutab-container {
  width: 55%;
  padding: 20px 0px 20px 20px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
}

.carosel-menutab-description-container {
  display: flex;
}

/* MEDIA QUERIES  */
/* for mobile */
@media screen and (max-width: 767px) {
  .carosel-menutab-description-container {
    flex-direction: column;
  }
  .carosel-menutab-container {
    width: 100%;
  }
}

