.tenantsGuide-title-div {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 8px 10px;
  background: rgba(3, 134, 14, 0.37) !important;
}
.tenantsGuide-text-div p {
  font-size: 16px;
  text-align: justify;
}
.tenantsGuide-text-div {
  padding-left: 20px;
}

.text-center {
  font-size: 25px;
  font-weight: bold;
  /* color: rgb(0, 0, 0); */
}
