.button-group-container {
  /* width: 500px; */
  height: 500px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* background-color: blue; */
  /* align-items: center; */
}
/* 
.prperty-tab-button-group {
  background-color: red;
} */
@media screen and (max-width: 850px) {
  .p-tab-btns-div button {
    font-size: 0.7em;
    width: auto;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 851px) {
  .p-tab-btns-div button {
    font-size: 0.7em;
  }
}
