.extra-details-main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  padding: 0px 30px 0px 30px;
}
.extra-details-inner {
  background-color: #f1f0de;
  margin: 0px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* media queries */
/* @media screen and (max-width: 768px) {
  .extra-details-main {
    flex-direction: column;
  }
} */
