.glass-effect {
  /* From https://css.glass */

  /* From https://css.glass */
  background: rgba(3, 134, 14, 0.37);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  /* border: 1px solid rgb(250, 225, 0); */
}
