/* .tenants-banner {
  margin-top: -90px;
} */
.about-banner > img {
  width: 100%;
  height: 550px;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .about-banner > img {
    height: 200px;
  }
}
