.profile-button {
  background: rgb(30, 173, 1);
  box-shadow: none;
  border: none;
}
.user-profile-ver-main {
  height: 40vh;
}

.user-profile-ver-main h2 {
  text-align: center;
}
.user-profile-main {
  display: flex;
  justify-content: center;
}
.user-photo {
  width: 150px !important;
  height: 150px !important;
}
.user-profile-container {
  width: 70%;
}

.profile-button:hover {
  background: rgb(16, 99, 0);
}

.profile-button:focus {
  background: rgb(30, 173, 1);
  box-shadow: none;
}

.profile-button:active {
  background: rgb(30, 173, 1);
  box-shadow: none;
}

.back:hover {
  color: rgb(30, 173, 1);
  cursor: pointer;
}

.labels {
  font-size: 11px;
}
