.CardTabcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cards-wraper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
}

.PrivateTabIndicator-colorSecondary-9 {
  background-color: #027101 !important;
}

/* .MuiButtonGroup-grouped {
  width: 200px !important;
} */

.cards-view-all-btns-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.cards-view-all-btns-div button {
  width: 240px;
  height: 50px;
  color: black;
  font-weight: bold;
  background-color: #03a404;
  border: 1px solid #03a404;
  text-transform: capitalize;

  margin: 15px;
}
/* MEDIA QUERIES  */
/* for mobile */
@media screen and (max-width: 767px) {
  .cards-wraper {
    justify-content: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards-view-all-btns-div {
    flex-direction: column;
  }
}
/* for tabs, mini laptop/monitor */
@media only screen and (max-width: 1300px) and (min-width: 768px) {
  .cards-view-all-btns-div button {
    width: 180px !important;
    font-size: 12px;
    margin-left: auto !important;
  }
}
