/* .App {
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: "Roboto", sans-serif;
}
p {
  font-weight: lighter !important;
}
legend {
  float: none;
}
